<footer class="footer">
  <div class="wrapper">
    <div class="copyright-links">
      <span class="copyright">Tldrfeed &copy; 2019</span>
      <div class="footer-links">
        <a href="{{ url_for('main.contact') }}">Contact</a>
        <span class="dot">&middot;</span>
        <a href="{{ url_for('main.about') }}">About</a>
        <span class="dot">&middot;</span>
        <a href="{{ url_for('main.privacy') }}">Privacy</a>
        <span class="dot">&middot;</span>
        <a href="{{ url_for('main.terms') }}">Terms</a>
      </div>
    </div>
    <a href="https://newsapi.org" class="powered_by">Powered by NewsAPI.org</a>
  </div>
</footer>
