{% extends 'base.html' %}

{% if user == current_user %}
  {% set active_page = "profile" %}
{% endif %}

{% block content %}
  <div class="profile-grid">
    <div>
      <div id="profile" class="d-flex flex-column overflow-hidden whitespace-no-wrap bg-light position-relative p-2">
        <div class="mb-1 d-flex flex-column">
          <h5 class="mb-0 username">{{ user.username }} </h5>
          <div>
            {{ user.followers.count() }} followers, {{ user.following.count() }} following
            {% if current_user.is_anonymous %}
              <p>Please sign in to follow this user.</p>
            {% else %}
              {% if current_user.username != user.username %}
                {% if not current_user.is_following(user) %}
                  <a href="{{ url_for('user.follow', username=user.username) }}">Follow</a>
                {% else %}
                  <a href="{{ url_for('user.unfollow', username=user.username) }}">Unfollow</a>
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
        <div class="d-flex">
          <div class="d-flex flex-column mr-4">
            <div class="info-text mb-1">Reputation</div>
            <div class="info">
              <i class="fas fa-medal"></i> 
              <span>{{ user.reputation }}</span>
            </div>
          </div>
          <div class="d-flex flex-column">
            <div class="info-text mb-1">Member since </div>
            <div class="info">
              {{ moment(user.date).format('LL') }}
            </div>
          </div>
        </div>
      </div>
      {% if reviews|length > 0 %}
        <div>
          {% include 'components/_pagination.html' %}
          <div class="reviews-grid">
            {% for review in reviews %}
              {% include 'components/_review.html' %}
            {% endfor %}
          </div>
          {% include 'components/_pagination.html' %}
        </div>
      {% else %}
        {% if user == current_user %}
          <h3>You have not written any reviews</h3>
        {% else %}
          <h3>This user has not written any reviews</h3>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
